.tcombo
{
    height       : 30px;
    z-index      : 1;
    padding-right: 2px;
    padding-left: 2px;
}

.tcombo_disabled
{
    height                        : 32px;
    z-index                       : 1;
    background-color              : #e0e0e0;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .tcombo
    {
        background-color      : #ffffff;
        border                : 1px solid #a0a0a0;
        border-radius         : 3px;
        height                : 30px;
        z-index               : 1;
        padding-right         : 2px;
        padding-left          : 2px;
    }
    
    .tcombo_disabled
    {
        background-color      : #ffffff;
        border-color          : #a0a0a0;
        border-radius         : 3px;
        height                : 32px;
        z-index               : 1;
        background-color      : #e0e0e0;
        padding-right         : 2px;
        padding-left          : 2px;
    }
}