#btnBusca{
    
    width: 20px;
    height: 20px;
    margin-top: 10px;

    
/*  */
}

.divBuscar{

background-color: #233242;
text-align: center;
margin-bottom: -10px;
margin-top: -10px;
/*border: 1px solid red;*/

}

.tam{
    height: 100px;
}


    
#txtBusca{
    
    position: relative;
    background-color:transparent;
    
    font-style:italic;
    font-size:15px;
    border:none;
    border-radius:5px;
    margin-bottom: 10px;
    border-bottom: solid;
    border-color: grey;
    color: #FFFFFF;
    width: 0px;
    padding-left:15px;
    width: 75%;
    
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
     outline: 0;

}


#txtBusca:hover {

    

}

/* Chrome, Safari, Opera */
@-webkit-keyframes widtha {
    0%   { opacity:   1; }
    25%  { opacity:   0.4; }
    50%  { opacity:   1;}
    75%  { opacity:   0.4; }
    100% { opacity:   1; }
}

/* Standard syntax */
@keyframes widtha {
    0%   { opacity:   1; }
    25%  { opacity:   0.4; }
    50%  { opacity:   1;}
    75%  { opacity:   0.4; }
    100% { opacity:   1; }
}
