label
{
    margin: 0px;
    font-weight: normal;
    font-size: 10pt;
    font-family: Helvetica,Arial,Verdana;
    color: #333333;
    // -moz-user-select    : none;
    // -webkit-user-select : none;
    // user-select         : none;
}