.tfield, .inplace_field
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border                : solid;
    border-color          : #a0a0a0;
    border-width          : 1px;
    height                : 32px;
    z-index               : 1;
    border-radius         : 3px 3px 3px 3px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
    padding-right: 6px;
    padding-left: 6px;
}

.tfield:focus
{
    border-radius         : 3px 3px 3px 3px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-color : rgba(82, 168, 236, 0.8);
    outline : 0;
    outline : thin dotted \9;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       -moz-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.tfield_disabled
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border                : solid;
    border-color          : #a0a0a0;
    border-width          : 1px;
    height                : 32px;
    background-color      : #e0e0e0;
    color                 : #282828;
    border-radius         : 3px 3px 3px 3px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    -webkit-user-select: none; // locks fields on Safari
    -khtml-user-select: none; // locks fields on Safari
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 6px;
    padding-left: 6px;
}