
<!-- Third part libraries required by Adianti Framework -->

<!-- adianti jquery--> 
<!-- <script src="lib/jquery/jquery.min.js" type="text/javascript"></script> -->

<!-- data tables -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css"/>
<link href="lib/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" />

<!-- <link href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" />-->
<link href="lib/datatables/css/dataTables.colVis.css" rel="stylesheet" type="text/css" media="screen" />

<!--<link href="//cdn.datatables.net/colvis/1.1.1/css/dataTables.colVis.css" rel="stylesheet" type="text/css" media="screen" />-->
<link href="//cdn.datatables.net/responsive/1.0.3/css/dataTables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" media="screen" />
<link href="//cdn.datatables.net/colreorder/1.1.2/css/dataTables.colReorder.css" rel="stylesheet" type="text/css" media="screen" />

<!-- <script src="lib/jquery/jquery.min.js" type="text/javascript"></script> -->
<!-- jquery new template --><script src="app/templates/{template}/assets/jquery/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!--<script type="text/javascript" language="javascript" src="//cdn.datatables.net/fixedcolumns/3.0.0/js/dataTables.fixedColumns.min.js"></script>-->
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/colvis/1.1.1/js/dataTables.colVis.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/responsive/1.0.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/colreorder/1.1.2/js/dataTables.colReorder.min.js"></script>
<!-- fim data tables -->

<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/bootstrap/js/bootstrap-colorpicker.min.js" type="text/javascript"></script>
<script src="lib/bootstrap/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<!--<script src="lib/bootstrap/js/bootstrap-datepicker.js" type="text/javascript"></script> -->
<script src="lib/bootstrap/js/locales/bootstrap-datepicker.pt.js" type="text/javascript"></script>
<script src="lib/bootstrap/js/bootbox.min.js"></script>
<script src="lib/jquery/jquery-ui.min.js" type="text/javascript"></script>
<script src="lib/jquery/jquery.scrollto.min.js" type="text/javascript"></script>
<script src="lib/jquery/jquery.blockUI.min.js" type="text/javascript"></script>
<script src="lib/jquery/jquery.editinplace.min.js" type="text/javascript"></script>
<script src="lib/jquery/jquery.autocomplete.min.js" type="text/javascript"></script>
<script src="lib/jquery/jquery.cleditor.min.js" type="text/javascript"></script>
<script src="lib/jquery/jquery.imask.min.js" type="text/javascript"></script>
<script src="lib/jquery/select2/select2.min.js" type="text/javascript"></script>
<script src="lib/jquery/treeview/jquery.treeview.min.js" type="text/javascript"></script>

<!-- Adianti Framework core and components -->
<script src="lib/adianti/include/adianti.min.js" type="text/javascript"></script>
<script src="lib/adianti/include/components.min.js" type="text/javascript"></script>

<!-- Application custom Javascript (Optional) -->
<script src="app/lib/include/application.js" type="text/javascript"></script>

<!-- Third part CSS required by Adianti Framework -->
<link href="lib/jquery/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/jquery/jquery-ui.structure.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/jquery/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/jquery/jquery.cleditor.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/jquery/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/jquery/select2/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/jquery/select2/select2-bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/jquery/treeview/jquery.treeview.min.css" rel="stylesheet" type="text/css" media="screen" />
<!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />-->
<link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/bootstrap/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/bootstrap/css/datepicker.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen" />

<!-- Adianti Framework Components CSS -->
<link href="lib/adianti/include/adianti.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="lib/adianti/include/components.min.css" rel="stylesheet" type="text/css" media="screen" />

<!-- Application custom CSS -->
<link href="app/templates/{template}/application.css" rel="stylesheet" type="text/css" media="screen">

<!-- Theme Styles -->
<link rel="stylesheet" type="text/css" href="app/templates/{template}/assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="app/templates/{template}/assets/weather-icons/weather-icons.min.css">
<link rel="stylesheet" type="text/css" href="app/templates/{template}/assets/effects/menu-effects.css">

<link rel="stylesheet" type="text/css" href="app/templates/{template}/assets/icheck/flat/_all.css">

<!-- Google Fonts 
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,100italic,100,300italic,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="app/templates/{template}/css/style.css">
<link rel="stylesheet" type="text/css" href="app/templates/{template}/css/responsive.css">
<link rel="stylesheet" type="text/css" href="app/templates/{template}/css/animate.css">
<link rel="stylesheet" type="text/css" href="app/templates/{template}/lib/_demo/demo.css">

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="assets/flotcharts/excanvas.min.js"></script><![endif]-->

<link rel="shortcut icon" href="app/templates/{template}/images/favicon.ico" type="image/png">
<link rel="shortcut icon" type="image/png" href="app/templates/{template}/images/favicon.ico" />

<!-- <msdropdown> combobox -->
<link rel="stylesheet" type="text/css" href="app/templates/{template}/css/dd.css" />
<!-- </msdropdown> -->

<!-- Theme Styles fim -->

<!--<script src="app/lib/JS/jsChat.js" type="text/javascript"></script>-->

<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="http://listjs.com/no-cdn/list.fuzzysearch.js"></script>

<link rel="stylesheet" type="text/css" href="app/lib/JS/filterUsuario.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>

<script language=javascript>
	window.onload = function(){       
		var monkeyList = new List('test-list', {   valueNames: ['user-title'],   plugins: [ ListFuzzySearch() ] });                
	}

	 function re(){ 
 		
	 	location.reload(); 
	 } 
</script>